#Git 관련 파일 제외
.git
.gitignore
.gitattributes

#IDE 관련 파일 제외
.idea/

#Gradle 빌드 관련 파일 제외
.gradle/
.build/*
!build/libs
!build/generated
gradlew
gradlew.bat
settings.gradle

#OS 관련 파일 제외
.DS_Store
dump.rdb

#소스코드 파일 제외
src/